body {
	background-image: url("background.png");
}

.container {
	margin: 0 auto;
	background-color: white;
	text-align: center;
}

.header {
	font-family: 'Electrolize', sans-serif;
	font-size: 50px;
	text-align: center;
}

p {
	text-align: center;
}

button {
	font-family: 'Electrolize', sans-serif;
}

.answers {
	padding: 10px;
}